<div class="histogramas-wrapper">
  <div class="histograma-container">
    <h2 class="histograma-title">Histograma de Respuestas 'Ayudo a la IA'</h2>
    <apx-chart
      *ngIf="chartOptions"
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [tooltip]="chartOptions.tooltip"
      [plotOptions]="chartOptions.plotOptions">
    </apx-chart>
  </div>

  <div class="histograma-container2">
    <h2 class="histograma-title">Histograma de Respuestas 'Ayudo a la IA'</h2>
    <apx-chart
      *ngIf="chartOptions"
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [tooltip]="chartOptions.tooltip"
      [plotOptions]="chartOptions.plotOptions">
    </apx-chart>
  </div>
</div>
