<div class="comparison-container">

  <div class="file-upload-section">
    <div class="file-input-wrapper">
      <input type="file" id="uploadFiles" name="files" multiple class="file-input" (change)="onFileChange($event)">
      <label for="uploadFiles" class="upload-label">Subir Archivos</label>
      <button class="action-button" (click)="navigateToChips()">Regresar</button>
    </div>
  </div>

  <!-- Separador estilizado -->
  <hr class="section-divider" />

  <div class="graph-display-section" *ngIf="htmlUrlS">
    <iframe [src]="htmlUrlS" class="graph-viewer" sandbox="allow-same-origin allow-scripts"></iframe>
  </div>
</div>
