<h1>Predicción de IA</h1>

<h2>Seleccionar Gráfica</h2>
<mat-form-field appearance="fill">
  <mat-label>Gráfica</mat-label>
  <mat-select [(value)]="selectedGraph">
    <mat-option *ngFor="let graph of graphOptions" [value]="graph.value">
      {{ graph.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
<!-- Selectable graphs -->
<div *ngIf="selectedGraph === 'graph1' && htmlUrl1">
  <h2>Diagnóstico IA - Visualización Cerebral 3D</h2>
  <iframe [src]="htmlUrl1" width="107%" height="950px"></iframe>
</div>

<div *ngIf="selectedGraph === 'graph3' && htmlUrl3">
  <h2>Diagnóstico IA - Visualización Interactiva de Rebanadas</h2>
  <iframe [src]="htmlUrl3" width="107%" height="950px"></iframe>
</div>

<div *ngIf="selectedGraph === 'graph4' && htmlUrl4">
  <h2>Diagnóstico IA - Clasificación de Rebanadas</h2>
  <iframe [src]="htmlUrl4" width="107%" height="950px"></iframe>
</div>

<div *ngIf="selectedGraph === 'graph6' && htmlUrl6">
  <h2>Diagnóstico IA - Visualización Interactiva de Modalidades</h2>
  <iframe [src]="htmlUrl6" width="107%" height="950px"></iframe>
</div>

<!-- Always visible static graphs -->
<div class="graph-container" id="graph2">
  <h2>Diagnóstico IA - Diámetros de Clases</h2>
  <iframe [src]="htmlUrl2" width="100%" height="600px"></iframe>
  <div class="graph-description">Figura 1: Diámetros de Clases predichos por la IA</div>
</div>





