<div class="container">
  <h1>Brain Tumor Prediction</h1>
  <form [formGroup]="medicalReportForm" (ngSubmit)="onSubmit()" id="predictForm">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input id="name" formControlName="name" required class="form-control">
    </div>

    <div class="form-group">
      <label for="age">Edad:</label>
      <input id="age" type="number" formControlName="age" required class="form-control">
    </div>

    <div class="form-group">
      <label for="gender">Género:</label>
      <select id="gender" formControlName="gender" required class="form-control">
        <option value="Masculino">Masculino</option>
        <option value="Femenino">Femenino</option>
        <option value="Otro">Otro</option>
      </select>
    </div>

    <div class="form-group">
      <label for="patientId">Cedula del Paciente:</label>
      <input id="patientId" formControlName="patientId" required class="form-control">
    </div>

    <div class="form-group">
      <label for="diagnosis">Prediagnóstico:</label>
      <textarea id="diagnosis" formControlName="diagnosis" required class="form-control" rows="4"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Predecir</button>
  </form>

  <form id="uploadForm" enctype="multipart/form-data">
    <div class="form-group">
      <input type="file" id="fileInput" name="files" multiple class="form-control-file" (change)="onFileChange($event)">
      <label for="fileInput" class="btn btn-secondary">Seleccionar Archivos</label>
    </div>
    <button type="button" (click)="uploadFiles()" class="btn btn-primary">Cargar archivos</button>
  </form>

  <!-- Contenedor para el video resultado de la predicción -->
  <div *ngIf="videoUrl" class="video-container">
    <h2>Resultado de la Predicción</h2>
    <video width="600" controls>
      <source [src]="videoUrl" type="video/mp4">
      Tu navegador no soporta el elemento de video.
    </video>
    <div class="class-legend">
      <h3>Clases</h3>
      <div class="class-item" *ngFor="let class of classes">
        <div class="color-box" [ngStyle]="{'background-color': class.color}"></div>
        <span>{{ class.name }}</span>
      </div>
    </div>
  </div>

  <!-- Contenedor separado para el video generado a partir de la subida de archivos -->
  <div *ngIf="uploadVideoUrl" class="separate-video-container">
    <h2>Video Generado</h2>
    <video #uploadVideo width="800" controls loop>
      <source [src]="uploadVideoUrl" type="video/mp4">
      Tu navegador no soporta el elemento de video.
    </video>
    <div class="controls">
      <button class="speed-btn" (click)="changeSpeed(uploadVideo, 0.5)">0.5x</button>
      <button class="speed-btn" (click)="changeSpeed(uploadVideo, 1)">1x</button>
      <button class="speed-btn" (click)="changeSpeed(uploadVideo, 1.5)">1.5x</button>
      <button class="speed-btn" (click)="changeSpeed(uploadVideo, 2)">2x</button>
    </div>
  </div>
</div>
