<h1>Predicción de IA</h1>

<h2>Seleccionar Gráfica</h2>
<mat-form-field appearance="fill">
  <mat-label>Gráfica</mat-label>
  <mat-select [(value)]="selectedGraph">
    <mat-option *ngFor="let graph of graphOptions" [value]="graph.value">
      {{ graph.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
<!-- Selectable graphs -->
<div *ngIf="selectedGraph === 'graph1' && htmlUrl1">
  <h2>Diagnóstico IA - Visualización Cerebral 3D</h2>
  <iframe [src]="htmlUrl1" width="107%" height="950px"></iframe>
</div>

<div *ngIf="selectedGraph === 'graph3' && htmlUrl3">
  <h2>Diagnóstico IA - Visualización Interactiva de Rebanadas</h2>
  <iframe [src]="htmlUrl3" width="107%" height="950px"></iframe>
</div>

<div *ngIf="selectedGraph === 'graph4' && htmlUrl4">
  <h2>Diagnóstico IA - Clasificación de Rebanadas</h2>
  <iframe [src]="htmlUrl4" width="107%" height="950px"></iframe>
</div>

<div *ngIf="selectedGraph === 'graph6' && htmlUrl6">
  <h2>Diagnóstico IA - Visualización Interactiva de Modalidades</h2>
  <iframe [src]="htmlUrl6" width="107%" height="950px"></iframe>
</div>

<!-- Always visible static graphs -->
<div class="graph-container" id="graph2">
  <h2>Diagnóstico IA - Diámetros de Clases</h2>
  <iframe [src]="htmlUrl2" width="100%" height="600px"></iframe>
  <div class="graph-description">Figura 1: Diámetros de Clases predichos por la IA</div>
</div>

<div class="graph-container" id="graph5">
  <h2>Diagnóstico IA - Presencia de Clases por Rebanada</h2>
  <iframe [src]="htmlUrl5" width="100%" height="600px"></iframe>
  <div class="graph-description">Figura 2: Presencia de Clases por Rebanada según la IA</div>
</div>

<!-- Text and Feedback Form Section -->
<div class="form-container">
  <h2>Referente a la Gráfica de Diámetros de Clases</h2>
  <div>
    <h2>Reporte de Segmentación Predicha</h2>
    <pre>{{ reportText2 }}</pre>
  </div>

  <h2>Referente a la Gráfica de Presencia de Clases por Rebanada</h2>
  <div>
    <h2>Reporte de Clases Presentes por Rebanada</h2>
    <pre>{{ reportText5 }}</pre>
  </div>

  <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()">
    <h2>Formulario de Retroalimentación</h2>

    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>¿La IA predijo correctamente las áreas segmentadas?</mat-label>
        <mat-select formControlName="iaAccuracy">
          <mat-option value="si">Sí</mat-option>
          <mat-option value="no">No</mat-option>
          <mat-option value="parcialmente">Parcialmente</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>¿La IA fue útil para su diagnóstico?</mat-label>
        <mat-select formControlName="iaUsefulness">
          <mat-option value="muy_util">Muy útil</mat-option>
          <mat-option value="util">Útil</mat-option>
          <mat-option value="poco_util">Poco útil</mat-option>
          <mat-option value="inutil">Inútil</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>¿La IA identificó correctamente las regiones?</mat-label>
        <mat-select formControlName="iaRegions">
          <mat-option value="si">Sí</mat-option>
          <mat-option value="no">No</mat-option>
          <mat-option value="parcialmente">Parcialmente</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Comparación con otros métodos de diagnóstico</mat-label>
        <textarea matInput formControlName="iaComparison"></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>¿Cuán confiable es el diagnóstico de la IA?</mat-label>
        <mat-select formControlName="iaReliability">
          <mat-option value="muy_confiable">Muy confiable</mat-option>
          <mat-option value="confiable">Confiable</mat-option>
          <mat-option value="poco_confiable">Poco confiable</mat-option>
          <mat-option value="inconfiable">Inconfiable</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Comentarios adicionales</mat-label>
        <textarea matInput formControlName="additionalComments"></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Descripción de las modalidades (T1c, T2w, FLAIR)</mat-label>
        <textarea matInput formControlName="modalitiesDescription"></textarea>
      </mat-form-field>
    </div>

    <div class="form-button">
      <button mat-raised-button color="primary" (click)="sendReport()">Enviar Reporte</button>
    </div>
  </form>

  <div class="form-button">

    <button mat-raised-button color="primary" (click)="downloadPDF()">Descargar Reporte PDF</button>
  </div>
</div>
