<div>
  <button mat-button (click)="addPatient()">Agregar Paciente</button>
</div>

<div *ngIf="patients.length === 0" class="no-patients">
  <p>No se encontraron pacientes.</p>
</div>

<div *ngIf="patients.length > 0">
  <h2>Pacientes</h2>
  <table class="styled-table">
    <thead>
    <tr>
      <th>Cédula del Paciente</th>
      <th>Número de Historia Clínica</th>
      <th>Fase</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patients">
      <td>{{ patient.patient_id }}</td>
      <td>{{ patient.numero_historia_clinica }}</td>
      <td>
        <div style="display: flex; align-items: center;">
          <div style="text-align: center; margin-right: 10px;">
            <button mat-button [disabled]="patient.diagnosticStatus === 'Generado'" (click)="addDiagnostic(patient)">Diagnóstico Médico</button>
            <small
              [ngClass]="{
          'status-generated': patient.diagnosticStatus === 'Generado',
          'status-not-generated': patient.diagnosticStatus === 'No generado'
        }"
              style="display: block; font-size: 10px;"
            >
              {{ patient.diagnosticStatus }}
            </small>
          </div>
          <div style="text-align: center;">
            <button mat-button class="btn-diagnostico-ia" (click)="onGenerateIA(patient.patient_id)">Generar Diagnóstico IA</button>
            <small style="display: block; font-size: 10px;">{{ patient.iaStatus || 'No generado' }}</small>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
