<div>
  <button mat-button (click)="addPatient()">Agregar Paciente</button>
</div>

<mat-form-field appearance="outline" style="width: 100%; margin-bottom: 20px;">
  <mat-label>Buscar paciente</mat-label>
  <input
    matInput
    placeholder="Ingresa un término de búsqueda"
    [(ngModel)]="searchTerm"
    (ngModelChange)="applyFilter()"
  />
  <mat-icon matSuffix color="accent">search</mat-icon>
  <mat-icon matSuffix (click)="searchTerm = ''; applyFilter()">clear</mat-icon>
</mat-form-field>

<div *ngIf="patients.length === 0" class="no-patients">
  <p>No se encontraron pacientes.</p>
</div>

<div *ngIf="patients.length > 0">
  <h2>Pacientes</h2>
  <table class="styled-table">
    <thead>
    <tr>
      <th style="text-align: center">Cédula del Paciente</th>
      <th style="text-align: center">Nro. Historia Clínica</th>
      <th style="text-align: center">Diagnóstico del Médico</th>
      <th style="text-align: center">Evaluación IA</th>
      <th style="text-align: center">Coincidencia Médico-IA</th>
      <th style="text-align: center">Comparación de Regiones Tumorales</th>
      <th style="text-align: center">Encuesta</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of filteredPatients">
      <td>{{ patient.patient_id }}</td>
      <td>{{ patient.numero_historia_clinica }}</td>
      <td>
        <div style="display: flex; align-items: center;">
          <div style="text-align: center; margin-right: 10px;">
            <!--[disabled]="patient.diagnosticStatus === 'Generado'"-->
            <button mat-button (click)="addDiagnostic(patient)">Generar Diagnóstico</button>
            <small
              [ngClass]="{
                  'status-generated': patient.diagnosticStatus === 'Generado',
                  'status-not-generated': patient.diagnosticStatus === 'No generado'
                }"
              style="display: block; font-size: 10px;"
            >
              {{ patient.diagnosticStatus }}
            </small>
          </div>
          <!-- Botón para visualizar reporte -->
          <div style="text-align: center;">
            <img
              src="assets/images/logos/lookPDF.png"
              alt="Ver Reporte"
              class="report-icon"
              [ngClass]="{ 'disabled': !patient.report_path }"
              (click)="viewReport(patient.report_path)"
              [title]="!patient.report_path ? 'Reporte no disponible' : 'Ver Reporte PDF'"
            />
          </div>

        </div>
      </td>
      <td>
        <div style="text-align: center;">
          <button mat-button class="btn-diagnostico-ia" (click)="onGenerateIA(patient.patient_id)" matTooltip="Ejecute el análisis automático de la IA para obtener un prediagnóstico basado en las imágenes médicas del paciente."
                  matTooltipPosition="above">Prediagnóstico IA</button>
          <small style="display: block; font-size: 10px;">{{ patient.iaStatus || 'No generado' }}</small>
        </div>
      </td>
      <td>
        <div class="traffic-light small">
          <div class="protector"></div>
          <div class="protector"></div>
          <div class="protector"></div>

          <!-- Luz roja con tooltip -->
          <div
            class="light-red"
            matTooltip="falta evaluación del médico o de la IA."
            matTooltipPosition="above"
            [ngClass]="{ 'active': !patient.is_generated }">
          </div>

          <!-- Luz amarilla con tooltip -->
          <div
            class="light-yellow"
            matTooltip="Hay discrepancia entre el médico y la IA."
            matTooltipPosition="above"
            [ngClass]="{ 'active': patient.is_generated && (patient.cancer_status === 'no se detecta cancer' || patient.cancer_status === 'diagnostico incierto') }">
          </div>

          <!-- Luz verde con tooltip -->
          <div
            class="light-green"
            matTooltip="La IA y el médico coinciden."
            matTooltipPosition="above"
            [ngClass]="{ 'active': patient.is_generated && patient.cancer_status === 'cancer detectado' }">
          </div>
        </div>
        <div class="traffic-description">
          <strong>{{ getStatusDescription(patient) }}</strong>
        </div>
      </td>

      <td>
        <div style="text-align: center;">
          <button
            mat-button
            class="btn-diagnostico-ia"
            (click)="addSegmentacion(patient)"
            matTooltip="Visualiza la segmentación manual y la predicción de la IA para comparar las regiones tumorales."
            matTooltipPosition="above">
            Cargar y Comparar Segmentación Tumoral
          </button>
        </div>
      </td>




      <td>
        <button
          mat-button
          class="btnSurvey"
          (click)="openSurveyDialog(patient)"
          style="display: flex; justify-content: center; align-items: center; padding: 0;">
          <img class="imgbtn" src="assets/images/logos/encuesta1.png" alt="Encuesta" />
        </button>

        <!-- Mostrar mensaje según el estado de la encuesta -->
        <small
          *ngIf="!patient.survey_completed"
          class="survey-completedF-message"
          style="display: block; font-size: 10px;">
          Pendiente
        </small>
        <small
          *ngIf="patient.survey_completed"
          class="survey-completedT-message"
          style=" display: block; font-size: 10px;">
          Realizada
        </small>
      </td>
    </tr>
    </tbody>
  </table>
</div>
