<div>
  <button mat-button (click)="addPatient()">Agregar Paciente</button>
</div>

<div *ngIf="patients.length === 0" class="no-patients">
  <p>No se encontraron pacientes.</p>
</div>

<div *ngIf="patients.length > 0">
  <h2>Pacientes</h2>
  <table class="styled-table">
    <thead>
    <tr>
      <th>Patient ID</th>
      <th>Patient Name</th>
      <th>Patient Age</th>
      <th>Patient Gender</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patients">
      <td>{{ patient.patient_id }}</td>
      <td>{{ patient.patient_name }}</td>
      <td>{{ patient.patient_age }}</td>
      <td>{{ patient.patient_gender }}</td>
    </tr>
    </tbody>
  </table>
</div>
