.no-predictions {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
  color: #555;
}

.styled-table {
  width: 100%;
  margin: 20px auto;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
}
.tituloRP {
  font-size: 28px;
  font-weight: 400;
  color: #444;
  text-align: center;
  border-bottom: 2px solid #ddd;
  padding-bottom:10px;
}

.styled-table thead tr {
  background-color: #007bff;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.styled-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #66afe9;
}

.styled-table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.styled-table th {
  font-size: 1.2em;
}

.styled-table td {
  font-size: 1em;
}

.btn-action {
  background-color: #009879;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-action:hover {
  background-color: #ffffff;
  color: #009879;
  border: 2px solid #009879;
}

//paciente:
.btn-add-patient {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-add-patient:hover {
  background-color: #ffffff;
  color: #28a745;
  border: 2px solid #28a745;
}

.status-generated {
  color: green;
  font-weight: bold;
}

.status-not-generated {
  color: red;
  font-weight: bold;
}

.btnSurvey {
  border: 2px solid transparent; /* Borde transparente por defecto */
  background: transparent; /* Fondo transparente */
  color: inherit; /* Hereda el color del texto */
  font-size: 1rem; /* Ajusta el tamaño de la fuente */
  padding: 8px 16px; /* Relleno opcional */
  cursor: pointer; /* Cambia el cursor al estilo de clic */
  outline: none; /* Elimina el contorno predeterminado */
  border-radius: 12px; /* Bordes redondeados por defecto */
  transition: all 0.3s ease; /* Transición suave */
  display: flex; /* Asegura que el contenido se alinee bien */
  justify-content: center; /* Centra el contenido dentro del botón */
  align-items: center; /* Centra el contenido verticalmente */
}

.btnSurvey img.button-icon {
  width: 24px; /* Ajusta el tamaño de la imagen */
  height: 24px; /* Ajusta la altura de la imagen */
  object-fit: contain; /* Asegura que la imagen se ajuste sin deformarse */
}

.btnSurvey:hover {
  background: rgba(0, 0, 0, 0.1); /* Efecto de fondo suave al pasar el cursor */
  color: #000; /* Cambia el color del texto */
  border-color: #000; /* Cambia el color del borde al hacer hover */
}

.survey-completed-message {
  display: block;
  font-size: 12px;
  color: green;  /* Cambia el color si lo prefieres */
  margin-top: 5px;
}
.imgbtn {
  max-width: 30px;
  max-height: 30px;
  margin-left: 37%;
}

.survey-completedT-message {
  display: block;
  font-size: 12px;
  color: green;  /* Cambia el color si lo prefieres */
  margin-top: 5px;
  text-align: center;
}
.survey-completedF-message {
  display: block;
  font-size: 12px;
  color: red;  /* Cambia el color si lo prefieres */
  margin-top: 5px;
  text-align:center;
}









.traffic-light {
  position: relative;
  background: #222;
  border-radius: 5px;
  padding: 2px;
  box-shadow: inset 0 0 0px 1px #2a2a2a;
  width: 25px; /* Tamaño compacto */
  height: 70px; /* Altura del semáforo */
  margin: 0 auto; /* Centrar en la celda */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.light-red,
.light-yellow,
.light-green {
  position: relative;
  margin: 2px auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: repeating-linear-gradient(#333, #443 5px);
  transition: all 0.3s ease;
  box-shadow: none;
  z-index: 11;
}

.light-red.active {
  background: repeating-linear-gradient(#f00, #e00 5px);
  box-shadow: 0 0 6px #f00;
}

.light-yellow.active {
  background: repeating-linear-gradient(#fd0, #ec0 5px);
  box-shadow: 0 0 6px #fd0;
}

.light-green.active {
  background: repeating-linear-gradient(#0d0, #0c0 5px);
  box-shadow: 0 0 6px #0d0;
}

.protector {
  width: 150%;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  border-right: solid 5px transparent;
  border-left: solid 5px transparent;
  border-top: solid 15px #191919;
  border-radius: 2px;
  z-index: 1;
}

.protector:nth-child(2) {
  top: 25px;
}

.protector:nth-child(3) {
  top: 45px;
}

/* Texto completamente debajo del semáforo */
.traffic-description {
  margin-top: 10px; /* Espacio entre el semáforo y el texto */
  text-align: center;
  font-size: 12px; /* Tamaño reducido */
  color: #000; /* Texto en negro */
}

/*boton para ver el reporte en pdf*/
.report-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  animation: pulse 1s infinite alternate;

  &:hover {
    transform: scale(1.2); /* Aumenta el tamaño */
    box-shadow: 0 8px 15px rgb(17, 121, 223); /* Sombra tipo alerta */
  }

  &.disabled {
    cursor: not-allowed;
    filter: grayscale(100%);
    animation: none; /* Desactiva animación si está deshabilitado */
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
