/* Añade este CSS a tu archivo de estilos */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Añade espacio entre los elementos del formulario */
}

.full-width {
  width: 100%;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Espacio entre la etiqueta y el campo de carga de archivos */
}

.file-upload-label {
  font-size: 16px;
  font-weight: bold;
}

.file-upload-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
