<div class="split-container">
  <!-- Contenedor izquierdo -->
  <div class="left-container">
    <div class="file-upload-container">
      <input type="file" id="fileInput" name="files" multiple class="form-control-file" (change)="onFileChange($event)">
      <label for="fileInput" class="btn btn-secondary">Seleccionar Archivos</label>
    </div>
    <div *ngIf="htmlUrl6" class="graph-container">
      <iframe [src]="htmlUrl6" class="graph-frame"></iframe>
    </div>
    <div *ngIf="htmlUrl3D" class="graph3d-container">
      <iframe [src]="htmlUrl3D" class="graph3d-frame"></iframe>
    </div>

  </div>

  <!-- Contenedor derecho -->
  <div class="right-container" [class.collapsed]="isCollapsed">
    <button class="toggle-button" (click)="toggleDashboard()">
      <svg *ngIf="isCollapsed" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M8 5l8 7-8 7z" /> <!-- Flecha hacia la derecha -->
      </svg>
      <svg *ngIf="!isCollapsed" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M16 5l-8 7 8 7z" /> <!-- Flecha hacia la izquierda -->
      </svg>
    </button>
    <form *ngIf="!isCollapsed" [formGroup]="addDiagnosticForm" class="form-container">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Diagnostico Presuntivo</mat-label>
        <mat-select formControlName="has_cancer" placeholder="Seleccione el Diagnostico Presuntivo" required>
          <mat-option [value]="true">Tiene cáncer</mat-option>
          <mat-option [value]="false">No tiene cáncer</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="description-field">
        <mat-label>Observación</mat-label>
        <textarea matInput formControlName="description" rows="5" placeholder="Ingrese la Observación detallada" required></textarea>
      </mat-form-field>
      <mat-dialog-actions>
        <button
          mat-raised-button
          color="primary"
          (click)="saveDiagnostic()"
          [disabled]="!addDiagnosticForm.valid"
          style="margin-right: 10px;">
          Guardar Reporte
        </button>
        <button
          mat-raised-button
          color="accent"
          (click)="navigateToChips()">
          Regresar
        </button>
      </mat-dialog-actions>

    </form>
  </div>
</div>
