<h2 mat-dialog-title>Agregar Paciente</h2>
<mat-dialog-content>
  <form [formGroup]="addPatientForm">
    <mat-form-field appearance="fill">
      <mat-label>ID del Paciente</mat-label>
      <input matInput formControlName="patientId" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Número de Historia Clínica</mat-label>
      <input matInput formControlName="numeroHistoriaClinica" required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button [mat-dialog-close]="addPatientForm.value" [disabled]="!addPatientForm.valid">Agregar</button>
</mat-dialog-actions>
